<% content_for :title do "Environments" end %>

<ul id="environment-list">
    <% @environments.each do |environment| %>
        <li id="<%= environment %>">
            <%= link_to environment, "/environments/#{environment}", class: "environment-list-row" %>
        </li>
    <% end %>
</ul>