<ul id="toggles">
    <% @toggles.each do |toggle| %>
        <li id="<%= toggle.name %>">
            <div><%= toggle.display_name %></div>
            <div class="switch <%= toggle.value ? "on" : "off" %>"></div>
        </li>
    <% end %>
</ul>